In [23]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [24]:
# url do site 
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [25]:
# verificando acesso
pagina = requests.get(url)

In [26]:
# HTML do site
soup = BeautifulSoup(pagina.text, 'html')

In [57]:
# Selecionando a tabela que contém os nomes da coluna
tabela = soup.find_all('table')[1]

In [40]:
# Selecionando th que contém o nome das colunas
titulos = tabela.find_all('th')
titulos

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [41]:
# Loop para selecionar apenas o titulo
resultado = []

for dados in titulos:
    resultado.append(dados.text.strip())
print(resultado)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [44]:
df = pd.DataFrame(columns=resultado)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [58]:
# Pegando as informações da tabela

linhas = tabela.find_all('tr')

In [55]:
for linha in linhas[1:]:
    row = linha.find_all('td')
    informacoes = [dados.text.strip() for dados in row]
    tamanho = len(df)
    df.loc[tamanho] = informacoes

In [56]:
# Verificando Dataset
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"