In [552]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [553]:
website = 'https://www.basketball-reference.com/boxscores/'

In [554]:
pagina = requests.get(website)

In [555]:
soup = BeautifulSoup(pagina.text,'html')

#### East

In [556]:
titulo_resultado_East = soup.find_all('thead')[10]
titulo_resultado

<thead>
<tr>
<th aria-label="Eastern Conference" class="poptip sort_default_asc left" data-stat="team_name" scope="col">Eastern Conference</th>
<th aria-label="Wins" class="poptip right" data-stat="wins" data-tip="Wins" scope="col">W</th>
<th aria-label="Losses" class="poptip right" data-stat="losses" data-tip="Losses" scope="col">L</th>
<th aria-label="Win-Loss Percentage" class="poptip right" data-stat="win_loss_pct" data-tip="Win-Loss Percentage" scope="col">W/L%</th>
<th aria-label="GB" class="poptip sort_default_asc right" data-stat="gb" data-tip="Games Behind" scope="col">GB</th>
<th aria-label="Points Per Game" class="poptip right" data-stat="pts_per_g" data-tip="Points Per Game" scope="col">PS/G</th>
<th aria-label="Opponent Points Per Game" class="poptip right" data-stat="opp_pts_per_g" data-tip="Opponent Points Per Game" scope="col">PA/G</th>
</tr>
</thead>

In [557]:
titulo_East = titulo_resultado_East.find_all('th')

In [558]:
resultado_East = []

for dados in titulo_East:
    resultado_East.append(dados.text.strip())

print(resultado_East)

['Eastern Conference', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G']

In [559]:
df_titulo_East = pd.DataFrame(columns= resultado_East)

#### Resultado do East

In [560]:
resultado_pontos_East = soup.find_all('tr')[72:87]

In [561]:
dados_totais_East = []

for dados in resultado_pontos_East:
    th = dados.find_all('th')
    td = dados.find_all('td')
    info = [dados.text.strip() for dados in th]
    info2 = [dados.text.strip() for dados in td]
    dados_totais_East.append(info+info2)

In [562]:
dados_totais_East

[['Boston Celtics', '21', '6', '.778', '—', '118.9', '109.8'],
 ['Milwaukee Bucks', '20', '7', '.741', '1.0', '124.7', '119.2'],
 ['Philadelphia 76ers', '19', '8', '.704', '2.0', '122.3', '111.0'],
 ['Orlando Magic', '16', '10', '.615', '4.5', '113.0', '110.1'],
 ['New York Knicks', '16', '11', '.593', '5.0', '114.7', '111.4'],
 ['Cleveland Cavaliers', '16', '12', '.571', '5.5', '112.4', '112.1'],
 ['Miami Heat', '16', '12', '.571', '5.5', '112.9', '111.8'],
 ['Indiana Pacers', '14', '12', '.538', '6.5', '128.0', '126.5'],
 ['Brooklyn Nets', '13', '14', '.481', '8.0', '115.6', '115.3'],
 ['Atlanta Hawks', '12', '15', '.444', '9.0', '123.1', '122.9'],
 ['Chicago Bulls', '12', '17', '.414', '10.0', '110.3', '113.1'],
 ['Toronto Raptors', '11', '16', '.407', '10.0', '112.2', '114.1'],
 ['Charlotte Hornets', '7', '19', '.269', '13.5', '111.0', '121.6'],
 ['Washington Wizards', '4', '22', '.154', '16.5', '117.0', '126.8'],
 ['Detroit Pistons', '2', '25', '.074', '19.0', '108.9', '120.8']]

In [563]:
df_East = pd.DataFrame(dados_totais_East)
df_East

                      0   1   2     3     4      5      6
0        Boston Celtics  21   6  .778     —  118.9  109.8
1       Milwaukee Bucks  20   7  .741   1.0  124.7  119.2
2    Philadelphia 76ers  19   8  .704   2.0  122.3  111.0
3         Orlando Magic  16  10  .615   4.5  113.0  110.1
4       New York Knicks  16  11  .593   5.0  114.7  111.4
5   Cleveland Cavaliers  16  12  .571   5.5  112.4  112.1
6            Miami Heat  16  12  .571   5.5  112.9  111.8
7        Indiana Pacers  14  12  .538   6.5  128.0  126.5
8         Brooklyn Nets  13  14  .481   8.0  115.6  115.3
9         Atlanta Hawks  12  15  .444   9.0  123.1  122.9
10        Chicago Bulls  12  17  .414  10.0  110.3  113.1
11      Toronto Raptors  11  16  .407  10.0  112.2  114.1
12    Charlotte Hornets   7  19  .269  13.5  111.0  121.6
13   Washington Wizards   4  22  .154  16.5  117.0  126.8
14      Detroit Pistons   2  25  .074  19.0  108.9  120.8

In [564]:
if df_East.shape[1] == df_titulo_East.shape[1]:
    # Atribua os nomes das colunas do DataFrame df_existing para o DataFrame df
    df_East.columns = df_titulo_East.columns
else:
    print("O número de colunas nos DataFrames não coincide.")

In [565]:
df_East

     Eastern Conference   W   L  W/L%    GB   PS/G   PA/G
0        Boston Celtics  21   6  .778     —  118.9  109.8
1       Milwaukee Bucks  20   7  .741   1.0  124.7  119.2
2    Philadelphia 76ers  19   8  .704   2.0  122.3  111.0
3         Orlando Magic  16  10  .615   4.5  113.0  110.1
4       New York Knicks  16  11  .593   5.0  114.7  111.4
5   Cleveland Cavaliers  16  12  .571   5.5  112.4  112.1
6            Miami Heat  16  12  .571   5.5  112.9  111.8
7        Indiana Pacers  14  12  .538   6.5  128.0  126.5
8         Brooklyn Nets  13  14  .481   8.0  115.6  115.3
9         Atlanta Hawks  12  15  .444   9.0  123.1  122.9
10        Chicago Bulls  12  17  .414  10.0  110.3  113.1
11      Toronto Raptors  11  16  .407  10.0  112.2  114.1
12    Charlotte Hornets   7  19  .269  13.5  111.0  121.6
13   Washington Wizards   4  22  .154  16.5  117.0  126.8
14      Detroit Pistons   2  25  .074  19.0  108.9  120.8

### West

#### Titulo

In [566]:
titulo_resultado_west = soup.find_all('thead')[11]

In [567]:
titulo_west = titulo_resultado_west.find_all('th')

In [568]:
titulo_west_resultado = []

for dados in titulo_west:
    titulo_west_resultado.append(dados.text.strip())

In [569]:
titulo_west_resultado

['Western Conference', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G']

In [570]:
df_titulo_West = pd.DataFrame(columns= titulo_west_resultado)

In [571]:
resultado_pontos_atualizado = atualizar_dados()
df_titulo_West

Empty DataFrame
Columns: [Western Conference, W, L, W/L%, GB, PS/G, PA/G]
Index: []

#### Resultado do West

In [572]:
resultado_pontos_West = soup.find_all('tr')[88:]
resultado_pontos_West

[<tr class="full_table"><th class="left" csk="0.231" data-stat="team_name" scope="row"><a href="/teams/MIN/2024.html">Minnesota Timberwolves</a></th><td class="right" data-stat="wins">20</td><td class="right" data-stat="losses">6</td><td class="right" data-stat="win_loss_pct">.769</td><td class="right" data-stat="gb">—</td><td class="right" data-stat="pts_per_g">113.5</td><td class="right" data-stat="opp_pts_per_g">106.7</td></tr>,
 <tr class="full_table"><th class="left" csk="0.320" data-stat="team_name" scope="row"><a href="/teams/OKC/2024.html">Oklahoma City Thunder</a></th><td class="right" data-stat="wins">17</td><td class="right" data-stat="losses">8</td><td class="right" data-stat="win_loss_pct">.680</td><td class="right" data-stat="gb">2.5</td><td class="right" data-stat="pts_per_g">120.2</td><td class="right" data-stat="opp_pts_per_g">113.0</td></tr>,
 <tr class="full_table"><th class="left" csk="0.345" data-stat="team_name" scope="row"><a href="/teams/DEN/2024.html">Denver Nuggets</a></th><td class="right" data-stat="wins">19</td><td class="right" data-stat="losses">10</td><td class="right" data-stat="win_loss_pct">.655</td><td class="right" data-stat="gb">2.5</td><td class="right" data-stat="pts_per_g">115.2</td><td class="right" data-stat="opp_pts_per_g">110.3</td></tr>,
 <tr class="full_table"><th class="left" csk="0.370" data-stat="team_name" scope="row"><a href="/teams/LAC/2024.html">Los Angeles Clippers</a></th><td class="right" data-stat="wins">17</td><td class="right" data-stat="losses">10</td><td class="right" data-stat="win_loss_pct">.630</td><td class="right" data-stat="gb">3.5</td><td class="right" data-stat="pts_per_g">117.1</td><td class="right" data-stat="opp_pts_per_g">110.7</td></tr>,
 <tr class="full_table"><th class="left" csk="0.385" data-stat="team_name" scope="row"><a href="/teams/SAC/2024.html">Sacramento Kings</a></th><td class="right" data-stat="wins">16</td><td class="right" data-stat="losses">10</td><td class="right" data-stat="win_loss_pct">.615</td><td class="right" data-stat="gb">4.0</td><td class="right" data-stat="pts_per_g">118.2</td><td class="right" data-stat="opp_pts_per_g">118.2</td></tr>,
 <tr class="full_table"><th class="left" csk="0.407" data-stat="team_name" scope="row"><a href="/teams/DAL/2024.html">Dallas Mavericks</a></th><td class="right" data-stat="wins">16</td><td class="right" data-stat="losses">11</td><td class="right" data-stat="win_loss_pct">.593</td><td class="right" data-stat="gb">4.5</td><td class="right" data-stat="pts_per_g">119.0</td><td class="right" data-stat="opp_pts_per_g">117.7</td></tr>,
 <tr class="full_table"><th class="left" csk="0.429" data-stat="team_name" scope="row"><a href="/teams/NOP/2024.html">New Orleans Pelicans</a></th><td class="right" data-stat="wins">16</td><td class="right" data-stat="losses">12</td><td class="right" data-stat="win_loss_pct">.571</td><td class="right" data-stat="gb">5.0</td><td class="right" data-stat="pts_per_g">115.9</td><td class="right" data-stat="opp_pts_per_g">113.9</td></tr>,
 <tr class="full_table"><th class="left" csk="0.464" data-stat="team_name" scope="row"><a href="/teams/LAL/2024.html">Los Angeles Lakers</a></th><td class="right" data-stat="wins">15</td><td class="right" data-stat="losses">13</td><td class="right" data-stat="win_loss_pct">.536</td><td class="right" data-stat="gb">6.0</td><td class="right" data-stat="pts_per_g">113.6</td><td class="right" data-stat="opp_pts_per_g">113.9</td></tr>,
 <tr class="full_table"><th class="left" csk="0.480" data-stat="team_name" scope="row"><a href="/teams/HOU/2024.html">Houston Rockets</a></th><td class="right" data-stat="wins">13</td><td class="right" data-stat="losses">12</td><td class="right" data-stat="win_loss_pct">.520</td><td class="right" data-stat="gb">6.5</td><td class="right" data-stat="pts_per_g">111.4</td><td class="right" data-stat="opp_pts_per_g">108.4</td></tr>,
 <tr class="full_table"><th class="left" csk="0.481" data-stat="team_name" scope="row"><a href="/teams/PHO/2024.html">Phoenix Suns</a></th><td class="right" data-stat="wins">14</td><td class="right" data-stat="losses">13</td><td class="right" data-stat="win_loss_pct">.519</td><td class="right" data-stat="gb">6.5</td><td class="right" data-stat="pts_per_g">114.9</td><td class="right" data-stat="opp_pts_per_g">113.8</td></tr>,
 <tr class="full_table"><th class="left" csk="0.519" data-stat="team_name" scope="row"><a href="/teams/GSW/2024.html">Golden State Warriors</a></th><td class="right" data-stat="wins">13</td><td class="right" data-stat="losses">14</td><td class="right" data-stat="win_loss_pct">.481</td><td class="right" data-stat="gb">7.5</td><td class="right" data-stat="pts_per_g">116.5</td><td class="right" data-stat="opp_pts_per_g">116.0</td></tr>,
 <tr class="full_table"><th class="left" csk="0.643" data-stat="team_name" scope="row"><a href="/teams/UTA/2024.html">Utah Jazz</a></th><td class="right" data-stat="wins">10</td><td class="right" data-stat="losses">18</td><td class="right" data-stat="win_loss_pct">.357</td><td class="right" data-stat="gb">11.0</td><td class="right" data-stat="pts_per_g">112.3</td><td class="right" data-stat="opp_pts_per_g">119.7</td></tr>,
 <tr class="full_table"><th class="left" csk="0.731" data-stat="team_name" scope="row"><a href="/teams/MEM/2024.html">Memphis Grizzlies</a></th><td class="right" data-stat="wins">7</td><td class="right" data-stat="losses">19</td><td class="right" data-stat="win_loss_pct">.269</td><td class="right" data-stat="gb">13.0</td><td class="right" data-stat="pts_per_g">106.0</td><td class="right" data-stat="opp_pts_per_g">112.5</td></tr>,
 <tr class="full_table"><th class="left" csk="0.731" data-stat="team_name" scope="row"><a href="/teams/POR/2024.html">Portland Trail Blazers</a></th><td class="right" data-stat="wins">7</td><td class="right" data-stat="losses">19</td><td class="right" data-stat="win_loss_pct">.269</td><td class="right" data-stat="gb">13.0</td><td class="right" data-stat="pts_per_g">107.7</td><td class="right" data-stat="opp_pts_per_g">114.2</td></tr>,
 <tr class="full_table"><th class="left" csk="0.846" data-stat="team_name" scope="row"><a href="/teams/SAS/2024.html">San Antonio Spurs</a></th><td class="right" data-stat="wins">4</td><td class="right" data-stat="losses">22</td><td class="right" data-stat="win_loss_pct">.154</td><td class="right" data-stat="gb">16.0</td><td class="right" data-stat="pts_per_g">110.9</td><td class="right" data-stat="opp_pts_per_g">122.5</td></tr>]

In [573]:
dados_totais_West = []

for dados in resultado_pontos_West:
    th_west = dados.find_all('th')
    td_west = dados.find_all('td')
    th_limpeza = [dados.text.strip() for dados in th_west]
    td_limpeza = [dados.text.strip() for dados in td_west]
    dados_totais_West.append(th_limpeza+td_limpeza)

In [574]:
dados_totais_West

[['Minnesota Timberwolves', '20', '6', '.769', '—', '113.5', '106.7'],
 ['Oklahoma City Thunder', '17', '8', '.680', '2.5', '120.2', '113.0'],
 ['Denver Nuggets', '19', '10', '.655', '2.5', '115.2', '110.3'],
 ['Los Angeles Clippers', '17', '10', '.630', '3.5', '117.1', '110.7'],
 ['Sacramento Kings', '16', '10', '.615', '4.0', '118.2', '118.2'],
 ['Dallas Mavericks', '16', '11', '.593', '4.5', '119.0', '117.7'],
 ['New Orleans Pelicans', '16', '12', '.571', '5.0', '115.9', '113.9'],
 ['Los Angeles Lakers', '15', '13', '.536', '6.0', '113.6', '113.9'],
 ['Houston Rockets', '13', '12', '.520', '6.5', '111.4', '108.4'],
 ['Phoenix Suns', '14', '13', '.519', '6.5', '114.9', '113.8'],
 ['Golden State Warriors', '13', '14', '.481', '7.5', '116.5', '116.0'],
 ['Utah Jazz', '10', '18', '.357', '11.0', '112.3', '119.7'],
 ['Memphis Grizzlies', '7', '19', '.269', '13.0', '106.0', '112.5'],
 ['Portland Trail Blazers', '7', '19', '.269', '13.0', '107.7', '114.2'],
 ['San Antonio Spurs', '4', '22', '.154', '16.0', '110.9', '122.5']]

In [575]:
df_West = pd.DataFrame(dados_totais_West)

In [576]:
if df_West.shape[1] == df_titulo_West.shape[1]:
    df_West.columns = df_titulo_West.columns
else:
    print('Não tem o mesmo número de colunas')